/*#region base */

/*#region */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px 16px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*#endregion base */

/*#region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
  display: block;
}

.logo-accent {
  color: #2e2f42;
  letter-spacing: 0.03em;
}

.nav-list,
.adress {
  display: none;
}
.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger-icon {
  fill: #2f2f37;
  display: block;
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mob-menu {
    display: none;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navi-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .underline {
    position: relative;
    color: #404bbf;
  }

  .underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .navi-link:hover,
  .navi-link:focus {
    color: #404bbf;
    opacity: 1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress {
    display: block;
    font-style: normal;
    gap: 12px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
    font-style: normal;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logo {
    margin-right: 76px;
  }

  .navi-link {
    font-size: 16px;
    font-weight: 500;
  }
  .adress {
    padding: 24px 0;
  }
  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-botton {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-button-close:hover,
.mob-button-close:focus {
  background-color: #404bbf;
  border: none;
}
.mob-icon-botton:hover,
.mob-icon-botton:focus {
  fill: #ffffff;
}

.mob-button-close:hover .mob-icon-botton,
.mob-button-closee:focus .mob-icon-botton {
  fill: #ffffff;
}

.mob-menu-nav {
  margin-bottom: auto;
}
.mob-menu-nav-list {
}
.mob-menu-nav-item {
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-nav-item:hover,
.mob-menu-nav-item:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-adress {
  font-style: normal;
}
.mob-menu-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.mob-menu-adress-item {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-adress-item:hover,
.mob-menu-adress-item:focus {
  color: #404bbf;
}

.mob-menu-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mob-menu-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-menu {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

/* #endregion */

/*#region hero */
/*----------Hero section ----------*/

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob-min.jpeg),
    url(../images/hero/people-office-mob@2x-min.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* max-width: 1440px; */
  margin: 0 auto;
  width: 100%;
  /* padding: 188px 0; */
  max-width: 320px;
  padding: 72px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  max-width: 216px;
  margin: 0 auto;
}

/* Button */

.button {
  display: block;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;

  text-transform: capitalize;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-top: 72px;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tab-min.jpeg),
      url(../images/hero/people-office-tab@2x-min.jpeg);
    max-width: 768px;
    padding: 112px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-desk-min.jpeg),
      url(../images/hero/people-office-desk@2x-min.jpeg);
    padding: 188px 0;
    max-width: 1440px;
  }
  .button {
    margin-top: 48px;
  }
}

/*#endregion hero */

/*#region advantages */
.adventages-section {
  padding: 96px 0;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.adventages-item {
  /* width: calc((100% - (3 * 24px)) / 4); */
}
.adventages-icon-cnt {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;

  display: none;
}
.adventages-icon {
  min-width: 64px;
}

.adventages {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
}
.adventages-description {
  line-height: 1.5;
  letter-spacing: 0.0195em;
}

@media screen and (min-width: 768px) {
  .adventages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .adventages-item {
    width: calc((100% - 24px) / 2);
  }
  .adventages {
    text-align: justify;
  }
}

@media screen and (min-width: 1158px) {
  .adventages-section {
    padding: 120px 0;
  }
  .adventages-list {
    gap: 24px;
  }

  .adventages-icon-cnt {
    display: block;
  }

  .adventages-item {
    width: calc((100% - (3 * 24px)) / 4);
  }
  .adventages-icon {
    min-width: 64px;
  }
  .adventages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/*#endregion advantages */

/*#region our team */
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-container {
  text-align: center;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  padding: 0 12px;
}
.photo {
  max-width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.team-cnt {
  text-align: center;
  padding: 32px 16px;
  max-width: 264px;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover,
.icon:active,
.icon:focus {
  background-color: #404bbf;
}
.icon-social {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    text-align: center;
    align-items: center;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo {
    width: calc((100% - 24px) / 2);
    width: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .photo {
    width: calc((100% - 72px) / 4);
    width: 100%;
  }
}

/*#endregion our team */

/*#region Portfolio */
.section-portfolio {
  text-transform: capitalize;
  letter-spacing: 0.02em;
  padding: 96px 16px;
}
.portfolio {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-text-wrapper {
  transform: translateY(0);
}
.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cnt {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-img {
  border: none;
}

.portfolio-text-wrapper {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.project-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.lovely-paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  background-color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/*#endregion Portfolio */

/*#region footer */

/*#endregion footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 16px;
}
.logo-light {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.addition-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/*#endregion */

/*#region modal-window */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.8);
}

.modal-close {
  position: absolute;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-botton {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.icon-botton:hover,
.icon-botton:focus {
  fill: #ffffff;
}

.modal-close:hover .icon-botton,
.modal-close:focus .icon-botton {
  fill: #ffffff;
}

.modal-title {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.input-wrap {
  position: relative;
  border-color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap :hover {
  border-color: #4d5ae5;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.icon-modal {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
}
.policy-checkbox {
  margin-bottom: 24px;
  cursor: pointer;
}

.text-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-checkbox-wrap {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-icon {
  visibility: hidden;
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.policy:checked + .text-policy span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy:checked + .text-policy .policy-icon {
  visibility: visible;
}
.modal-botton {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-color: transparent;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-botton:hover {
  background-color: #404bbf;
}

/*#endregion modal-window*/

/* -------768px-------- */
